

//#empty{
//  text-align:   center;
.empty{
  margin: 100px auto;
  &__basket{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: #4777F5;
    &--icon{
      font-size: 150px;
      color: #FFFFFF;
    }
  }
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #848484;
    margin: 20px -100px;
  }
}
//}